.home {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
	background-color: #191919;
	opacity: 1;
	background-image: radial-gradient(#303030 0.65px, #191919 0.65px);
	background-size: 13px 13px;
	text-align: center;
}

.home a {
	color: #ffffff;
}

.home .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.home h1 {
	margin: 50px 0 15px 0;
}

.home video {
	width: 100vw;
	height: 80vh;
}

.home .connected img {
	border-radius: 100%;
	width: 200px;
	height: 200px;
	border: 5px solid #fff;
}

.home .connected h1 {
	font-size: 3rem;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 25px;
}

.home .connected .list {
	padding: 20px 40px;
	color: #fff;
	text-align: left;
	border-radius: 10px;
}

.home .connected .list h2 {
	margin-bottom: 10px;
}

.home .connected .list ol {
	padding-left: 20px;
}

.home footer {
	padding: 10px;
	background-color: #000000;
	font-family: 'Courier New', Courier, monospace;
}

.home footer a:hover {
	text-decoration: underline;
}

.home .connecting {
	position: relative;
	min-width: 400px;
}

.home .connecting h1 {
	margin: 0;
}

.home .connecting .informations {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.home .connecting .informations p {
	font-family: 'Courier New', Courier, monospace;
	background-color: #00000080;
	padding: 5px 10px;
	font-size: 48px;
}